h1 {
    font-size: 3em;
    text-align: center;
    font-family: "handwriting-draft", sans-serif;
}

form {
    margin: 0 auto;
    width: 80%;
    min-width: 500px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    background-image: url("licorne.jpg");
}

fieldset {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
}

legend {
    font-weight: bold;
}

img {
    float: right;
    width: 25%;
}

input {
    border-radius: 3px;
}

div {
    margin-top: 10px;
}

#f1 label {
    display: inline-block;
    text-align: left;
    width: 90px;
}

#f2 div label {
    width: auto;
    font-style: italic;
}

#f2 div {
    margin-bottom: 10px;
}

#adress1, #adress2 {
    width: 50%;
}

#email {
    width: 30%;
}

#postal {
    width: 80px;
}

button {
    float: right;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

button:active {
    box-shadow: inset 1px 1px 5px grey;
}

button:focus {
    outline: none;
}

@font-face {
    src: url("LittleBird.ttf");
    font-family: "handwriting-draft";
}

@media screen and (max-width:1200px) {
    img {
        display: none;
    }
    h1 {
        font-size: 2em;
    }
}
